<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="java">

<head th:replace="_layout :: html_head">
	<meta charset="UTF-8">
	<title>Add new License</title>
</head>

<body>

<div th:replace="_layout :: html_navbar"></div>

<div class="container mb-4">
	<form th:action="@{/saveLicense}"
		  th:object="${license}" method="POST">

		<!-- --------------------------------------------------------------------------------------- -->
		<div>
			<input type="hidden" th:field="*{id}"/>
		</div>

		<div class="card-columns" style="column-count: 4">
			<div class="card">
				<div class="card-body">
					<!--div class="card-header bg-transparent border">Header</div -->
					<h5 class="card-title">Customer parameters</h5>
					<label>Select customer:
						<select class="form-control" th:field="*{customer.id}">
							<option value=-1 disabled = "disabled" selected="selected">Select Customer</option>
							<option th:each="customer: ${customers}" th:text="${customer.custName}"
									th:value="${customer.id} "></option>
						</select>
					</label>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<!--div class="card-header bg-transparent border">Header</div -->
					<h5 class="card-title">License Key Type</h5>
					<label>Select list:
						<select class="form-control" th:field="*{licenseType.id}">
							<option th:each="type: ${licenseTypes}" th:text="${type.typeTitle}"
									th:value="${type.id}"></option>
						</select>
					</label>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Supporting OS</h5>
					<th:block th:each="operSystem : ${operSystems}">
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" th:value="${operSystem}"/>
								<label th:text="${operSystem.osTitle}"></label>
							</label>
						</div>
					</th:block>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Supporting Features</h5>
					<th:block th:each="feature : ${features}">
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" th:value="${feature}"/>
								<label th:text="${feature.featureTitle}"></label>
							</label>
						</div>
					</th:block>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Host & Port</h5>
					<div class="form-group form-row">
						<label>
							<input class="form-control" type="text" th:field="*{host}" placeholder="Host"/>
						</label>
					</div>
					<div class="form-group form-row">
						<label>
							<input class="form-control" type="number" th:field="*{port}" placeholder="Port"/>
						</label>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Options</h5>

					<div class="form-group form-row">
						<label>
							<input class="form-control" type="text" th:field="*{comment}" placeholder="Comment"/>
						</label>
					</div>

					<div class="form-group form-row">
						<div class="form-check mb-2">
							<input class="form-check-input" type="checkbox" id="containsJsonCheck">
							<label class="form-check-label" for="containsJsonCheck">
								Key Contains JSON
							</label>
						</div>
					</div>
				</div>
				<!-- ---------------------------------------------------------------- -->
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Enter License Period</h5>
					<!--div>
						<label for="datepicker">Enter start date for</label>
						<input id="datepicker" width="276" type="date" th:field="*{startDate}"
							   placeholder="01/01/2022"/>
						<script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4'
                            });
						</script>
					</div-->

					<div class="form-group form-row md-form">
						<label class="sr-only" for="startDateInput">Start date</label>
						<input class="form-control" id="startDateInput" type="date" th:field="*{startDate}"
							   placeholder="Select date"/>
					</div>
					<div class="form-group form-row md-form">
						<label class="sr-only" for="endDateInput">End date</label>
						<input class="form-control" id="endDateInput" type="date" th:field="*{endDate}"
							   placeholder="Select date"/>
					</div>
				</div>
			</div>

		</div>


		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

</body>
</html>