<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="java">

<head th:replace="_layout :: html_head">
	<meta charset="UTF-8">
	<title>Add new License</title>
</head>

<body>

<div th:replace="_layout :: html_navbar"></div>

<div>
	<form th:action="@{/saveLicense}"
		  th:object="${license}" method="POST">

		<!-- --------------------------------------------------------------------------------------- -->
		<div>
			<input type="hidden" th:field="*{id}"/>
			<br/>
		</div>

		<div class="card-columns">
			<div class="card">
				<div class="card-body">
					<!--div class="card-header bg-transparent border">Header</div -->
					<h5 class="card-title">Customer</h5>
					<div class="form-group form-row">
						<label>
							<input class="form-control" type="text" th:field="*{customer}" placeholder="Customer Name"
								   required/>
						</label>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
			</div>


			<div class="card">
				<div class="card-body">
					<!--div class="card-header bg-transparent border">Header</div -->
					<h5 class="card-title">License Key Type</h5>
					<label>Select list:
						<select class="form-control" th:field="*{licenseType}">
							<option th:each="type: ${licenseTypes}" th:text="${type.getTitle()}"
									th:value="${type}"></option>
						</select>
					</label>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Host & Port</h5>
					<div class="form-group form-row">
						<label>
							<input class="form-control" type="text" th:field="*{host}" placeholder="Host"/>
						</label>
					</div>
					<div class="form-group form-row">
						<label>
							<input class="form-control" type="number" th:field="*{port}" placeholder="Port"/>
						</label>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Supporting OS</h5>
					<th:block th:each="operSystem : ${operSystems}">
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" name="*{operSystem}" th:value="${operSystem}"/>
								<label th:text="${operSystem}"></label>
							</label>
						</div>
					</th:block>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Supporting Features</h5>

					<div class="form-check">
						<label class="form-check-label" for="check1">
							<input type="checkbox" class="form-check-input" id="check1" name="" value="">Audit
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label" for="check2">
							<input type="checkbox" class="form-check-input" id="check2" name="" value="">Masking
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label" for="check3">
							<input type="checkbox" class="form-check-input" id="check3" name="" value="">Data Discovery
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label" for="check4">
							<input type="checkbox" class="form-check-input" id="check4" name="" value="">Security
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label" for="check5">
							<input type="checkbox" class="form-check-input" id="check5" name="" value="">VA Scanner
						</label>
					</div>

				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Options</h5>

					<div class="col-auto">
						<label class="sr-only" for="inlineFormInput">Comment</label>
						<input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Comment">
					</div>

					<div class="col-auto">
						<div class="form-check mb-2">
							<input class="form-check-input" type="checkbox" id="autoSizingCheck">
							<label class="form-check-label" for="autoSizingCheck">
								Key Contains JSON
							</label>
						</div>
					</div>
				</div>
				<!-- ---------------------------------------------------------------- -->
			</div>

			<div class="card text-center">
				<blockquote class="blockquote mb-0">
					<p>New CARD</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Someone famous in <cite title="Source Title">Source Title</cite>
						</small>
					</footer>
				</blockquote>
			</div>
			
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

</body>
</html>