<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="java">

<head th:replace="_layout :: html_head">
	<title>Customers</title>
</head>

<div th:replace="_layout :: html_navbar"></div>

<body>
<div class="container mb-4">
	<h3>List of Customers</h3>
	<table class="table table-striped container-fluid">
		<thead class="thead-light">

		<tr>
			<th scope="col">ID</th>
			<th scope="col">NAME</th>
			<th scope="col">COMPANY</th>
			<th scope="col">EMAIL</th>
			<th scope="col">PHONE</th>
			<th scope="col">SITE</th>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<th scope="col">OPTIONS</th>
			</div>
			<!--th scope="col">KEYS</th-->
		</tr>
		</thead>

		<tr th:each="customer, state : ${customers}">
			<td th:utext="${customer.id}">ID</td>
			<td th:utext="${customer.custName}">NAME</td>
			<td th:utext="${customer.custCompName}">COMPANY</td>
			<td th:utext="${customer.custEmail}">EMAIL</td>
			<td th:utext="${customer.custPhone}">TEL</td>
			<td th:utext="${customer.custWebsite}">SITE</td>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<td>
					<a class="btn btn-info" th:href="@{/customers/{id}(id = ${customer.id})}" role="button">Edit</a>
					<!-- user deleting supported by post request -->

					<a class="btn btn-danger" th:href="@{/customers/deleteCustomer/{id}(id = ${customer.id})}"
					   role="button">Delete</a>
				</td>
			</div>
		</tr>


	</table>
	<!--todo: button or input -->
	<a class="btn btn-primary" th:href="@{/customers/addCustomer/}" role="button">Add new Customer</a>
</div>
</body>
</html>


<!--todo add customer list page + options-->