<!DOCTYPE HTML>
<html lang="java" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_layout :: html_head">
	<title>Customer details</title>
</head>

<body>

<div th:replace="_layout :: html_navbar"></div>
<!--it can be creating new customer or updating existing customer -->

<div class="container mb-4">
	<hr class="mt-0 mb-4">
	<div class="row justify-content-center">
		<div class="col-xl-8">
			<div class="card mb-4 mx-auto">
				<div class="card-header">Customer Details</div>
				<div class="card-body">
					<!-- -->
					<form action="#"
						  th:action="@{/saveCustomer}"
						  th:object="${customer}"
						  enctype="multipart/form-data"
						  method="post">

						<div>
							<input type="hidden" th:field="*{id}"/>
						</div>

						<div class="mb-3">
							<label for="nameInput">Client company representative</label>
							<input type="text" class="form-control" id="nameInput" th:field="*{custName}"
								   aria-describedby="nameHelp" placeholder="Enter customer name">
							<small>
								<div class="alert alert-danger" th:if="${#fields.hasErrors('custName')}"
									 th:errors="*{custName}">
									Customer name is invalid!
								</div>
							</small>
							<!-- small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
						</div>

						<div class="row gx-3 mb-3">
							<div class="col-md-6">
								<label for="emailInput">Email</label>
								<input type="email" class="form-control" id="emailInput"
									   th:field="*{custEmail}"
									   aria-describedby="emailHelp" placeholder="Enter customer email">
								<small>
									<div class="alert alert-danger" th:if="${#fields.hasErrors('custEmail')}"
										 th:errors="*{custEmail}">
										Customer email is invalid!
									</div>
								</small>
								<small id="emailHelp" class="form-text text-muted">We'll never share customer email with
									anyone
									else.</small>
							</div>

							<div class="col-md-6">
								<label for="phoneInput">Phone</label>
								<input type="tel" class="form-control" id="phoneInput" th:field="*{custPhone}"
									   aria-describedby="emailHelp" placeholder="Enter customer phone number">
								<small>
									<div class="alert alert-danger" th:if="${#fields.hasErrors('custPhone')}"
										 th:errors="*{custPhone}">
										Customer phone is invalid!
									</div>
								</small>
								<small id="phoneHelp" class="form-text text-muted">We'll never share customer phone with
									anyone
									else.</small>
							</div>
						</div>

						<div class="mb-3">
							<label for="siteInput">Customer Website</label>
							<input type="url" class="form-control" id="siteInput" th:field="*{custWebsite}"
								   aria-describedby="siteHelp" placeholder="Enter customer website">
							<small>
								<div class="alert alert-danger" th:if="${#fields.hasErrors('custWebsite')}"
									 th:errors="*{custWebsite}">
									Customer website is invalid!
								</div>
							</small>
							<!-- small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
						</div>

						<div class="mb-3">
							<label for="compInput">Customer company name</label>
							<input type="text" class="form-control" id="compInput" th:field="*{custCompName}"
								   aria-describedby="compHelp" placeholder="Enter customer company name">
							<small>
								<div class="alert alert-danger" th:if="${#fields.hasErrors('custCompName')}"
									 th:errors="*{custCompName}">
									Customer company name is invalid!
								</div>
							</small>
							<!-- small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
						</div>

						<div>
							<input type="hidden" name="user" th:value="${customer}"/>
							<input class="btn btn-primary" type="submit" value="Save Customer"/>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>

<!--todo add customer edit page -->