<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="java">

<head th:replace="_layout :: html_head">
	<title>License keys</title>
</head>

<body>


<div th:insert="_layout :: html_navbar"></div>

<div class="container mb-4">

	<div>
		<h3>Licenses</h3>
	</div>

	<br>
	<!-- Search Field -->
	<div>
		<form class="form-inline" method="get">
			<input class="form-control mr-sm-2" type="search" name="searchStr" placeholder="Customer"
				   aria-label="Customer">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>

	<br>

	<!-- Licenses table -->
	<div>
		<table class="table table-striped container-fluid">
			<thead class="thead-light">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">AUTHOR</th>
				<th scope="col">CUSTOMER</th>
				<th scope="col">TYPE</th>
				<th scope="col">HOST</th>
				<th scope="col">PORT</th>
				<!--th scope="col">START DATE</th-->
				<!--th scope="col">END DATE</th-->
				<th scope="col">FEATURES</th>
				<!--th scope="col">DB TYPES</th-->
				<th scope="col">OS</th>
				<th scope="col">DB TYPE</th>
				<!--todo reformat -->
				<th scope="col">OPTIONS</th>
			</tr>
			</thead>

			<tr th:each="license, state : ${allLicenses}">
				<td th:utext="${license.id}">ID</td>
				<!--one to many -->
				<!--todo add links to user/author pages -->
				<td><a href="#link" th:utext="${license.author.username}"></a></td>
				<td><a href="#link" th:utext="${license.customer.custName}"></a></td>
				<td th:utext="${license.licenseType.typeTitle}">LICENSE TYPE</td>
				<!--simple fields -->
				<td th:utext="${license.host}">HOST</td>
				<td th:utext="${license.port}">PORT</td>

				<!--many to many fields, lists-->
				<!--td th:utext="${license.startDate}">Start date</td-->
				<!--td th:utext="${license.endDate}">End date</td-->
				<td th:utext="${license.getFeaturesTitles()}">Features</td>
				<!--td th:utext="${license.dbTypes}">Db types</td-->
				<td th:utext="${license.getOsTitles()}">OS</td>
				<td th:utext="${license.getDbTypeTitles()}">DB TYPE</td>

				<!-- buttons block -->

				<td>
					<div class="btn-toolbar" role="group" aria-label="Options group">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal"
								th:data-target="'#modalButton' + ${license.id}">
							<img src="/static/bootstrap-icons-1.8.1/eye-fill.svg" alt="Bootstrap" width="20"
								 height="16">
						</button>

						<!-- Modal -->
						<div class="modal fade" th:id="'modalButton' + ${license.id}" tabindex="-1" role="dialog"
							 aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">License Key</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p th:id="licKey + ${license.id}" style="word-break: break-all"
										   th:utext="${license.key}">Key</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
										</button>
										<!--todo add js script for key copy: dynamic thymeleaf parameter problem now its empty-->
										<button onclick=copyToClipboard1() type="button" class="btn btn-primary">Copy to
											clipboard
										</button>

									</div>
								</div>
							</div>
						</div>

						<!-- can be replaced by GET requests -->
						<form name="license" th:action="@{/deleteLicense}" method="post">
							<input type="hidden" name="licId" th:value="${license.id}"/>
							<button type="submit" class="btn btn-outline-danger">
								<img src="/static/bootstrap-icons-1.8.1/x-circle-fill.svg" alt="Bootstrap" width="16"
									 height="16">
							</button>
						</form>

						<form name="license" th:action="@{/updateLicense}" method="post">
							<input type="hidden" name="licId" th:value="${license.id}"/>
							<button type="submit" class="btn btn-outline-info">
								<img src="/static/bootstrap-icons-1.8.1/vector-pen.svg" alt="Bootstrap" width="16"
									 height="16">
							</button>
						</form>

						<!-- todo send key as mail -->
						<form name="license" th:action="@{/sendKeyByMail}" method="post">
							<input type="hidden" name="licId" th:value="${license.id}"/>
							<button type="submit" class="btn btn-outline-danger">
								<img src="/static/bootstrap-icons-1.8.1/mailbox.svg" alt="Bootstrap" width="16"
									 height="16">
							</button>
						</form>


					</div>
				</td>
			</tr>
		</table>
	</div>

	<div>
		<button type="button" class="btn btn-outline-danger" onclick="window.location.href = 'addLicense'">Add new
			License Key
		</button>
	</div>

</div>

</body>
</html>