
<!DOCTYPE html>
<head>
    License keys
</head>

<body>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>CUSTOMER</th>
            <th>LICENSE TYPE</th>
            <th>HOST</th>
            <th>PORT</th>
            <th>OS</th>
        </tr>
        {{#licenses}}
            <tr>
                <td>{{id}}</td>
                <td>{{customer}}</td>
                <td>{{license_type}}</td>
                <td>{{host}}</td>
                <td>{{port}}=</td>
                <td>{{operSystem}}</td>
            </tr>
        {{/licenses}}
    </table>
</div>

<div>
    
</div>

</body>
</html>