
<!DOCTYPE html>
<head>
    License keys
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
</head>

<body>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>CUSTOMER</th>
            <th>LICENSE TYPE</th>
            <th>HOST</th>
            <th>PORT</th>
            <th>OS</th>
        </tr>
        {{#licenses}}
            <tr>
                <td>{{id}}</td>
                <td>{{customer}}</td>
                <td>{{licenseType}}</td>
                <td>{{host}}</td>
                <td>{{port}}</td>
                <td>{{operSystem}}</td>
            </tr>
        {{/licenses}}
    </table>
</div>

<div>
    
</div>

</body>
</html>