<!DOCTYPE HTML>
<html lang="java" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_layout :: html_head">
	<title>License keys</title>
</head>

<body>


<div th:replace="_layout :: html_navbar"></div>

<div class="container mb-4">
<h3>List of Users</h3>
	<table class="table table-striped container-fluid">
		<thead class="thead-light">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">USER</th>
			<th scope="col">ROLE</th>
			<th scope="col">ACTIVE</th>
			<th scope="col">OPTIONS</th>
		</tr>
		</thead>
		
		<tr th:each="user, state : ${users}">
			<td th:utext="${user.id}">ID</td>
			<td th:utext="${user.username}">USERNAME</td>
			<td th:utext="${user.roles}">ROLES</td>
			<td th:utext="${user.active}">IS ACTIVE</td>
			<td><a class="btn btn-info" th:href="@{/user/{id}(id = ${user.id})}" role="button">Edit</a></td>
		</tr>
	</table>

	<a class="btn btn-primary" href="/registration" role="button">Add new user</a>
</div>

</body>
</html>